#container {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    #card-container {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 1fr);
        gap: 32px;
        margin-bottom: 32px;
    }
    #pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #262A2D;
        border-radius: 8px;
        height: 36px;
        padding: 0 20px;
        box-sizing: border-box;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            margin-right: 20px;
            cursor: pointer;
            &.active {
                cursor: not-allowed;
                color: #EE387A;
            }
            &.disabled {
                cursor: not-allowed;
                color: #7B7C8D;
            }
        }
        .divider {
            width: 1px;
            height: 16px;
            background: #C4C4C4;
            margin: 0 20px;
            &:last-of-type {
                margin-left: 0;
            }
        }
    }
}