<div id="container">
    <div id="content">
        <div id="col-1">
            <p id="logo">SCREENSCORE</p>
            <div class="divider"></div>
            <input type="text" [placeholder]="'SEARCH_PROMPT' | translate" #searchInput
                (keyup)="searchTermChange.next(searchInput.value)" />
        </div>
        <div id="col-2">
            <p (click)="changeLanguage('hu')">HU</p>
            <p (click)="changeLanguage('en')">EN</p>
            <p
                (click)="openMovieEditor()"
                data-cy="add-movie">
                {{ 'ADD_MOVIE' | translate }}</p>
        </div>
    </div>
</div>